.main-div{
    padding-bottom: 50px;
}

.main-div .who span,
.main-div .players span,
.main-div .social span{
    font-weight: bold;
    color: rgb(112, 112, 112);
}

.main-div .who .list{
    padding-left: 50px;
}

.main-div .social .twitter .buttons{
    display: flex;
    flex-direction: column;
}

.main-div .social .twitch{
    text-align: center;
}

.main-div .players{
    
}